$primary-color: #001B36;
$white-color: #fff;
$black-color: #000;
$green-color: #035A27;
$blue-color: #003180;
$light-blue-color: #1976d2;
$light-gray-color: #D8DDE6;
$gray-color: #495057;
$message-error: #80001b;


$primary-font: 'Open Sans', sans-serif;