@import '../../assets/css/variables.scss';

header {
  display: flex;
  align-items: center;
  min-height: 50px;
  margin-bottom: 40px;
  padding: 16px 0;
  text-align: center;
  background: $black-color;

  .container {
    align-items: center;

    @media (min-width: 768px) {
      justify-content: space-between;
      padding: 0 10px;
    }

    a {
      color: $white-color;
      font-size: 33px;
      font-family: 'Ubuntu', sans-serif;
    }

    p {
      color: $white-color;
      cursor: pointer;
    }
  }
}
